<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Serverville">
  <Properties>
    <Property name="logPath">data/logs</Property>
    <Property name="logFilePath">${logPath}/app.log</Property>
    <Property name="logArchivePath">${logPath}/app-%d{yyyy-MM-dd}-%i.log</Property>
    <Property name="basePattern">%d ${hostName} %5p [%t] %m%n</Property>
    <Property name="errorPattern">%d ${hostName} %5p [%t:%l] %m%n</Property>
  </Properties>
  <Appenders>
    <RollingRandomAccessFile name="file" fileName="${logFilePath}" filePattern="${logArchivePath}">
			<PatternLayout pattern="${basePattern}"/>
			<DefaultRolloverStrategy max="10"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${archiveSize}"/>
			</Policies>
			<Filters>
				<ThresholdFilter level="TRACE"/>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="file_err" fileName="${logFilePath}" filePattern="${logArchivePath}">
			<PatternLayout pattern="${errorPattern}"/>
			<DefaultRolloverStrategy max="10"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="${archiveSize}"/>
			</Policies>
			<Filters>
				<ThresholdFilter level="ERROR"/>
			</Filters>
		</RollingRandomAccessFile>
		<Lucene name="lucene" indexPath="${logPath}/app-index">
			<PatternLayout pattern="${basePattern}"/>
			<Filters>
				<ThresholdFilter level="TRACE"/>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</Lucene>
		<Lucene name="lucene_err" indexPath="${logPath}/app-index">
			<PatternLayout pattern="${errorPattern}"/>
			<Filters>
				<ThresholdFilter level="ERROR"/>
			</Filters>
		</Lucene>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="file"/>
			<AppenderRef ref="file_err"/>
			<AppenderRef ref="lucene"/>
			<AppenderRef ref="lucene_err"/>
    </Root>
  </Loggers>
</Configuration>