<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Serverville">
  <Properties>
    <Property name="logPath">data/logs</Property>
    <Property name="logFilePath">${logPath}/app.log</Property>
    <Property name="logArchivePath">${logPath}/app-%d{yyyy-MM-dd}-%i.log</Property>
    <Property name="basePattern">%d ${hostName} %5p [%t] %m%n</Property>
    <Property name="errorPattern">%d ${hostName} %5p [%t:%l] %m%n</Property>
    <Property name="archiveSize">10 MB</Property>
  </Properties>
  <Appenders>
    <IndexedFile name="file" fileName="${logFilePath}" filePattern="${logArchivePath}" maxFiles="10" maxSize="${archiveSize}">
      <PatternLayout pattern="${basePattern}"/>
      <Filters>
		<ThresholdFilter level="TRACE"/>
		<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
	  </Filters>
    </IndexedFile>
    <IndexedFile name="file_err" fileName="${logFilePath}">
      <PatternLayout pattern="${errorPattern}"/>
      <Filters>
		<ThresholdFilter level="ERROR"/>
	  </Filters>
    </IndexedFile>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="${basePattern}"/>
      <Filters>
		<ThresholdFilter level="TRACE"/>
		<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
	  </Filters>
    </Console>
    <Console name="console_err" target="SYSTEM_OUT">
      <PatternLayout pattern="${errorPattern}"/>
      <Filters>
		<ThresholdFilter level="ERROR"/>
	  </Filters>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="file"/>
      <AppenderRef ref="file_err"/>
      <AppenderRef ref="console"/>
      <AppenderRef ref="console_err"/>
    </Root>
  </Loggers>
</Configuration>