html
{
	height: 100%;
}


body
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

#library>div
{
	margin: 0px;
	width: 100%;
	height: 100%;
}


.pgbare
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	position: absolute;
	box-sizing: border-box;
}

.tcenter
{
	transform: translate(-50%, -50%);
}

#libraryList
{
	font-size: 18px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-color: #cccccc;
}

#libraryList li
{
	padding: 8px;
	cursor:pointer;
}

.librarySelected
{
	background-color: #0000ff;
	color: #ffffff;
}